<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1><%= title %></h1>
    <% heroes.forEach(heroe => { %>
     <h2><%= heroe.nombre %> </h2>
     <h4>Profesión: <%= heroe.profesion %> </h4>
     <h5>Pais: <%= heroe.pais %> </h5>
     <p><%= heroe.resenia %> </p>
     <hr>
    <% }) %>
</body>
</html>
